<a href="https://colab.research.google.com/github/Nicolaser1102/Tuberias_Scikit-learn/blob/main/Tareas_Track3_Week1/Ejercicio_sobre_tuber%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CODING DOJO 
## Fecha creación: 6/3/2022
## Fecha de actualización: 6/3/2022
## Esteban Simbaña

#Ejercicio sobre tuberías

In [211]:
#Montamos el drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [212]:
#Importamos librerías para poder manejar mejor el df
import pandas as pd
import numpy as np

In [213]:
nombrearchivo = '/content/drive/MyDrive/Coding Dojo/Códigos/Track 2 /Week 1 - Track2/Deberes /Ejercicio KNN/abalone.data'

df = pd.read_csv(nombrearchivo)
df.head() #Mostramos df

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [214]:
#Creación de un diccionario para anexarlo a nuestra df 
extra_fila = {'M':'M','0.455':0.455,'0.365':0.365,'0.095':0.095,'0.514':0.514,'0.2245':0.2245, '0.101': 0.101,'0.15':0.15,'15':15}
#Se anexa a la df / Nota: no olvidar el 'ignore_index = True' o arrojará error
df = df.append(extra_fila,ignore_index = True)

In [215]:
#creamos una lista con los nombres de columnas nuevos y reeemplazamos 
df.columns = ['Sexo','Largo (mm)','Diámetro (mm)','Ancho (mm)','Peso total (grs)'
              , 'Peso de carne (grs)','Peso vísceras (grs)'
              ,'Peso caparazón (grs)','N° Anillos']

In [216]:
df.head()

,Sexo,Largo (mm),Diámetro (mm),Ancho (mm),Peso total (grs),Peso de carne (grs),Peso vísceras (grs),Peso caparazón (grs),N° Anillos
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sexo                  4177 non-null   object
 1   Largo (mm)            4177 non-null   float64
 2   Diámetro (mm)         4177 non-null   float64
 3   Ancho (mm)            4177 non-null   float64
 4   Peso total (grs)      4177 non-null   float64
 5   Peso de carne (grs)   4177 non-null   float64
 6   Peso vísceras (grs)   4177 non-null   float64
 7   Peso caparazón (grs)  4177 non-null   float64
 8   N° Anillos            4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [218]:
df.corr()

,Largo (mm),Diámetro (mm),Ancho (mm),Peso total (grs),Peso de carne (grs),Peso vísceras (grs),Peso caparazón (grs),N° Anillos
Largo (mm),1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.556720
Diámetro (mm),0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.574660
Ancho (mm),0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.557467
Peso total (grs),0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.540390
Peso de carne (grs),0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.420884
Peso vísceras (grs),0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.503819
Peso caparazón (grs),0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.627574
N° Anillos,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000

Anterior código tomado de la tarea anterior. 

Coding Dojo - Ejercicio KNN


# Tarea

Tu tarea es hacer el ejercicio KNN (K-Nearest Neighbors) que completaste en la semana 5, ahora usando tuberías. Crea dos tuberías para unir el escalamiento y la regresión, y el escalamiento y la clasificación para las dos tareas principales:

La primera tarea es usar el conjunto de datos de abalon para predecir la edad de abalone según las medidas corporales usando KNN. Este es el problema de regresión. La segunda tarea es utilizar el conjunto de datos de abalone para predecir el sexo de acuerdo a sus características.  Asegúrate de usar una tubería para ambas.

## Modelo 1 

- Predecir la edad de abalone según las medidas corporales usando KNN

In [219]:
#df que utilizaremos para el modelo 
df.head(1)

,Sexo,Largo (mm),Diámetro (mm),Ancho (mm),Peso total (grs),Peso de carne (grs),Peso vísceras (grs),Peso caparazón (grs),N° Anillos
0,M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7

Importación de librerías

In [220]:
#primero importaremos las librerías que usaremos para el modelo 

from sklearn.neighbors import KNeighborsRegressor 
from sklearn.model_selection import train_test_split

#librería de escalado de datos

from sklearn.preprocessing import StandardScaler

#librería para obtener los componentes principales

from sklearn.decomposition import PCA

#librería que nos permitirá la aplicación de tuberías en el código

from sklearn.pipeline import make_pipeline

Obtener variables independientes (X) y variable dependiente (y)

In [221]:
#Variable X

X = df.drop(columns = ['Sexo','N° Anillos'])
X.shape

(4177, 7)

In [222]:
X.head(1)

,Largo (mm),Diámetro (mm),Ancho (mm),Peso total (grs),Peso de carne (grs),Peso vísceras (grs),Peso caparazón (grs)
0,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07

In [223]:
y = df['N° Anillos']
y.shape

(4177,)

In [224]:
y.head(1)

0    7
Name: N° Anillos, dtype: int64

División de datos en conjuntos de prueba y entrenamiento

In [225]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=3)

**Aplicación de tuberías al modelo**

In [226]:
pipe = make_pipeline(StandardScaler(), PCA(n_components = 2), KNeighborsRegressor())
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('pca', PCA(n_components=2)),
                ('kneighborsregressor', KNeighborsRegressor())])

Puntuamos el modelo

In [227]:
train_data_score = pipe.score(X_train,y_train)
train_data_score

0.5348281029406576

In [228]:
testing_data_score = pipe.score(X_test,y_test)
testing_data_score

0.3283943849359927

## Modelo 2 
- Predecir el sexo de acuerdo a sus características

In [229]:
#Importar librerías para el modelo de clasificación 

from sklearn.neighbors import KNeighborsClassifier

In [230]:
df.head(2)

,Sexo,Largo (mm),Diámetro (mm),Ancho (mm),Peso total (grs),Peso de carne (grs),Peso vísceras (grs),Peso caparazón (grs),N° Anillos
0,M,0.35,0.265,0.090,0.2255,0.0995,0.0485,0.07,7
1,F,0.53,0.420,0.135,0.6770,0.2565,0.1415,0.21,9

In [231]:
df['Sexo'].unique()

array(['M', 'F', 'I'], dtype=object)

Eliminaremos las columnas infantes para que no afecte en la predicción del sexo

In [232]:
df['Sexo'].unique()

array(['M', 'F', 'I'], dtype=object)

Debemos cambiar las variables de columna sexo en variable numéricas '0' y '1'

In [233]:
df['Sexo'] = df['Sexo'].map({'M':0,'F':1,'I':2},na_action=None)

Obtener variables independientes (X) y variable dependiente (y)

In [234]:
#Variable X
X_class = df.drop(columns = 'Sexo')
X_class.shape

(4177, 8)

In [235]:
#Variable y
y_class = df['Sexo']
y_class.shape

(4177,)

In [236]:
y.head(1)

0    7
Name: N° Anillos, dtype: int64

División de datos en conjuntos de entrenamiento y prueba

In [237]:
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, test_size=0.20, random_state=3)

**Aplicación de tuberías en el modelo**

In [238]:
pipe_class = make_pipeline(StandardScaler(), PCA(n_components = 2), KNeighborsClassifier())
pipe_class.fit(X_train_class, y_train_class)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('pca', PCA(n_components=2)),
                ('kneighborsclassifier', KNeighborsClassifier())])

Puntuamos los modelos

In [239]:
pipe_class.score(X_train_class, y_train_class)

0.6728524393894044

In [240]:
pipe_class.score(X_test_class, y_test_class)

0.5239234449760766

### Después de que hayas completado las dos tareas, responde las siguientes preguntas.

- ¿Por qué querrías ocupar una tubería para KNN?

R: Para ahorrar líneas de código y evitar errores en este caso al estandarizar los datos, dividir el conjunto de datos en componentes principales y efectuar el modelo; ya que para realizar esos procesos ocupamos los mismos datos para entrenarlos y tranformarlos.

- ¿Para qué otros modelos o tareas sería útil usar una tubería?

R: Para modelos que contengan muchos pasos de preprocesamiento y que a su vez presenten pasos que para entrenarlos y transformar los datos, ocupen esos mismos datos.